<div id="app">
    <nav class="navbar navbar-expand fixed-top">
      
      <a href="#" class="navbar-brand ">Simple one</a>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Зарегестрироваться</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Войти</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
    </div>
  </div>