<!DOCTYPE html>
<div class="sideBar">
  <sideBar ></sideBar>
</div>
<div class="content-wrapper">
<div class=" full-page-wrapper d-flex align-items-center auth">
  <div class="row w-100 ">
    <div class="col-lg-8 mx-auto">
      <div class="row">
        <div class="col-lg-6 bg-white login-form">
          <div class=" text-left p-5">
            <h2>Смена пароля</h2>
            <form class="pt-5">
              <form
                  *ngIf="isLoggedIn"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate
                >
                <div class="form-group">
                  <label for="oldpassword">Старый пароль</label>
                  <input
                    type="password"
                    class="form-control"
                    name="oldpassword"
                    [(ngModel)]="form.oldpassword"
                    required
                    #oldpassword="ngModel"
                  />
                  <i class="mdi mdi-account"></i>
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="f.submitted && oldpassword.invalid"
                  >
                    Старый пароль обязателен для заполнения
                  </div>
                </div>
                
              <div class="form-group">
                <label for="password">Новый пароль</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />
                <i class="mdi mdi-eye"></i>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Новый пароль обязателен для заполнения</div>
                  <div *ngIf="password.errors.minlength">
                    Пароль должен содержать минимум 6 символов
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">
                  Сохранить изменения
                </button>
              </div>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && !isSetNewPassFailed"
                >
                  Что-то пошло не так: {{ errorMessage }}
                </div>
              </div>
            </form>         
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
