
<!--  -->
<div class="card">
  <div class="container-fluid bg-secondary py-2">
    <p class="mb-0 text-gray card-title">{{header}}</p>
  </div>
<div [ngClass]="{invisible: visibility}" class="card info-form  mb-5">
  <div class="card-body">
    <!-- <button class="btn btn-secondary">Закрыть</button> -->
    <a><i class="fa fa-times" aria-hidden="true"></i></a>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{date}}</p>
    <a ><i class="fa fa-trash" aria-hidden="true"></i></a>
  </div>
</div>
<div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
       
    <div class="list-wrapper px-3 today">
        <h4 class="card-title">Сегодня</h4>
        <a class="nav-link  nav-btn" routerLink="/addThing" >
            <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
          </a>
      <ul class="d-flex flex-column-reverse todo-list">
        <li>
          <div class="form-check">
            <label>
              <input class="checkbox" type="checkbox">
              This is task for today
            </label>
          </div>
          <i class="remove mdi mdi-close-circle-outline"></i>
      </ul>
    </div>
    <div class="list-wrapper px-3 on-week">
        <h4 class="card-title">На неделе</h4>
        <a class="nav-link  nav-btn" routerLink="/addThing" >
            <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
          </a>
        <ul class="d-flex flex-column-reverse todo-list">
          <li>
            <div class="form-check">
              <label>
                <input class="checkbox" type="checkbox">
                This task I need to do on this week
              </label>
            </div>
            <i class="remove mdi mdi-close-circle-outline"></i>
        </ul>
      </div>
      <div class="list-wrapper px-3 later">
        <h4 class="card-title">Позже</h4>
        <a class="nav-link  nav-btn" routerLink="/addThing" >
            <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
          </a>
          <!-- <div  *ngFor="let thing of things, let i = index"> -->
            <ul class="d-flex flex-column-reverse todo-list" *ngFor="let thing of things, let i = index">
                <div class="form-check">
                  <button (click)="toggle(i)">
                    <input class="checkbox" type="checkbox">
                    {{thing.name}}
                  </button>
                </div>
                <i class="remove mdi mdi-close-circle-outline"></i>
            </ul>
        <!-- </div> -->
      <!-- <div  *ngFor="let thing of things, let i = index">
        <ul class="d-flex flex-column-reverse todo-list" >
            <div class="form-check">
              <button (click)="toggle(i)">
                <input  type="checkbox">
                {{thing.name}}
              </button>
            </div>
            <i class="remove mdi mdi-close-circle-outline"></i>
        </ul>
    </div> -->
   
    </div>
  </div>
</div>

  <!-- To do section tab ends -->
