<div class="sideBar">
  <sideBar ></sideBar>
</div>
<div class="content-wrapper"><div *ngIf="!needToDelete" class="card">
  <div class="container-fluid bg-secondary py-2">
  <p class="mb-0 text-gray card-title">Все дела
  </p>
  </div>
  <div [ngClass]="{invisible: visibility}" class="card info-form mb-5">
  <div class="card-body">
  <!-- <button class="btn btn-secondary">Закрыть</button> -->
  <a ><i class="fa fa-times" aria-hidden="true" (click)="close()"></i></a>
  <h3>Название</h3>
  <p>{{name}}</p>
  <h3>Описание</h3>
  <p>{{description}}</p>
  <h3>Дата</h3>
  <p>{{date}}</p>
  <span class="btn"><i class="fa fa-trash" aria-hidden="true" onclick="ym(62236273,'reachGoal','CLICK_THING'); return true;" (click)="delete()"></i> </span>
  <span class="btn"><i class="fa fa-pencil" aria-hidden="true"onclick="ym(62236273,'reachGoal','CLICK_CHANGE_THING'); return true;" routerLink="/addThing" (click)="changeThing()"></i> </span>
  </div>
  </div>
  
  <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
  
  <div class="list-wrapper px-3 today">
  <h4 class="card-title">Сегодня</h4>
  <a class="nav-link nav-btn" routerLink="/addThing" >
  <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
  </a>
  <ul class="d-flex flex-column-reverse todo-list" *ngFor="let thing of thingsToday, let i = index">
  <div class="form-check">
  <input *ngIf="thing.state=='true'" (click)="changeState(thing)" class="checkbox" checked type="checkbox">
  <input *ngIf="thing.state=='false'" (click)="changeState(thing)" class="checkbox" type="checkbox">
  <a (click)="toggle(i, 0)">
  {{thing.name}}
  </a>
  </div>
  <i class="remove mdi mdi-close-circle-outline"></i>
  </ul>
  </div>
  <div class="list-wrapper px-3 on-week">
  <h4 class="card-title">На неделе</h4>
  <a class="nav-link nav-btn" routerLink="/addThing" >
  <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
  </a>
  <ul class="d-flex flex-column-reverse todo-list" *ngFor="let thing of thingsThisWeek, let i = index">
  <div class="form-check">
  
  <input *ngIf="thing.state=='true'" (click)="changeState(thing)" class="checkbox" checked type="checkbox">
  <input *ngIf="thing.state=='false'" (click)="changeState(thing)" class="checkbox" type="checkbox">
  <a (click)="toggle(i, 1)">
  {{thing.name}}
  </a>
  
  </div>
  
  <i class="remove mdi mdi-close-circle-outline"></i>
  </ul>
  </div>
  <div class="list-wrapper px-3 later">
  <h4 class="card-title">Позже</h4>
  <a class="nav-link nav-btn" routerLink="/addThing" >
  <span class="btn"><i class="menu-icon fa fa-plus" aria-hidden="true"></i> Добавить дело</span>
  </a>
  <!-- <div *ngFor="let thing of things, let i = index"> -->
  <ul class="d-flex flex-column-reverse todo-list" *ngFor="let thing of thingsLater, let i = index">
  <div class="form-check">
  <input *ngIf="thing.state=='true'" (click)="changeState(thing)" class="checkbox" checked type="checkbox">
  <input *ngIf="thing.state=='false'" (click)="changeState(thing)" class="checkbox" type="checkbox">
  <a (click)="toggle(i, 2)">
  {{thing.name}}
  </a>
  </div>
  <i class="remove mdi mdi-close-circle-outline"></i>
  </ul>
  
  </div>
  </div>
  </div>